<ion-view view-title="SebChat" style="background-color:blue" class="signup-background" >

  <ion-content style="text-align:center;">
			<p style="font-size:30px;color:white">Welcome to SebChat a simple safe messenger service</p>
			<p style="font-size:20px;color:white">
				Please login or register to use this service
			</p>
		<button class="button button-positive" style="color:white;background-color: green;" ng-click="login()">
			Login
		</button>
		<button class="button button-positive"  ng-click="viewMsgModal()">
			Register
		</button>
  </ion-content>
</ion-view>
